.button 
        {
          border: none;
          color: rgb(216, 20, 20);
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30 px;
          margin: 4px 2px;
          cursor: pointer;
        }